<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Movies</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<h1 align="center" th:inline="text">Welcome to your movies [[${#httpServletRequest.remoteUser}]]</h1>
	
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Nimi</th>
			<th>Julkaisuvuosi</th>
			<th>Genre</th>
			<th></th>
			<th></th>
		</tr>
 
		<tr th:each="movie : ${movies}">
			<td th:text="${movie.id}" ></td>
			<td th:text="${movie.name}"></td>
			<td th:text="${movie.publishYear}"></td>
			<td th:text="${movie.genre}"></td> 
			<td><a class="btn btn-success">Description</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${movie.id})}" class="btn btn-danger">Delete</a></td>
			
		</tr>
		 </table>
		  <div class="col-md-4" style="padding: 10px 0">
			<form th:action="@{/logout}" method="post" style="padding: 5px">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
		  <a href="/add" class="btn btn-success">Add movie</a>  
	</div>
	</body>
</html>
